* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: url(./bg.jpg.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;


}

.container {
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    border: 3px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

h2 {
    color: #fff;
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 2em;
}

.form-group {
    position: relative;
    width: 330px;
    border-bottom: 3px solid #fff;
    margin: 30px 0;

    /* border : 0 0 1px 0 solid #fff; */

}

.form-group input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    color: #fff;
    padding: 0 30px 0 10px;


}

.form-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #ffff;
    /* pointer-events: none; */
    transition: 0.5s;


}

/* .form-group span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    transition: 0.5s; */

/* } */

/* .form-group input:focus~label,
.form-group input:valid~label {} */
input:focus ~ label,
input:valid ~ label {
    top: -5px;
}
.form-group i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.2em;
}

p {
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

p>a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

p>a:hover {
    text-decoration: underline;
    font-style: italic;


}

#btn {
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;

}

#btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}